<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./CSS/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="head">
      The beautiful results of the Game... <br>If I could get it to work
    </div>
    <div class="highScore">
      <div class="username">
        A name <br>
        This is where I would use ejs to output the table
      </div>
      <div class="results">
        A score
      </div>

    </div>


  </body>
</html>
